.stock_title 販売先マスタ一覧
%table.stock-table-show
  %tr
    %th 販売先コード
    %th 販売先名
    %th 
    %tr
      - @customers.each do |customer|
        %tr
          %td= customer.customer_code
          %td= customer.customer_name
          %td.td-edit= link_to "編集", edit_customer_path(customer.id)
.stock-button
  -# = link_to new_customer_path, class: "stock-edit-button" do
  -#   .stock-button-edit-font 新規登録
  = link_to root_path, class: "stock-edit-button" do
    .stock-button-edit-font 戻る
