// Place all the styles related to the stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stock_title{
  text-align: center;
  font-size: 30px;
  padding: 10px 0;
}

.stock-table{
  th,td{
    border: solid 1px;
  }
  height: 100px;
  width: 90%;
  margin: 0 auto;
  border: solid 1px;
}

.stock-table-show{
  th,td{
    border: solid 3px #ccc;
    border-collapse: collapse;
  }
  height: 100px;
  width: 90%;
  margin: 0 auto;
  border: solid 3px #ccc;
  border-collapse: collapse;
}

.stock-text-field{
  height: 30px;
  width: 85%;
  margin: 5px;
  padding-left: 5px;
  font-size: 14px;
}
select{
  height: 35px;
  font-size: 14px;
  background-color: white;
  margin: 5px;
  border-radius: 0px;
}

.finish-zone{
  width: 90%;
  margin: 0 auto;
  text-align:center;
}

.stock-finish{
  width: 10%;
  height: 30px;
  font-size: 14px;
  background-color: #ccc;
  margin: 0 10px;
}

.stock-button{
  display: flex;
  justify-content: center;
  height: 30px;
  line-height: 30px;
  padding: 10px;
}
.stock-edit-button{
  background-color: #ccc;
  margin: 0 10px;
  width: 10%;
  height: 30px;
  text-align: center;
  // border: solid 1px;
}

.stock-delete-button{
  background-color: red;
  margin: 0 10px;
  width: 10%;
  height: 30px;
  text-align: center;
}
 .stock-button-edit-font{
  color: black;
}

.stock-button-delete-font{
  color: white;
}

.td-edit{
  text-align: center;
}

.status-three{
  color: red;
}


